extends layout

block append head
	title=searchTitle

block navigation
	.navbar(class='navbar-inverse navbar-fixed-top')
		.navbar-inner
			.container
				button(type='button', class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href='/')=title
				.nav-collapse(class='collapse')
					ul.nav
						li
							a(href='/') Home
						li
							a(href='/about') About
						li
							a(href='/contact') Contact
					form.navbar-search(class='pull-right', method='POST', action='/search')
						input(type='text', class='search-query span2', name='username', onfocus='if(this.placeholder === "Search...") {this.placeholder = "";}', onblur='if(this.placeholder === "") {this.placeholder = "Search...";}', placeholder='Search...')

block header
	.jumbotron(class='masthead')
		.container
			h2=player_info.name

block social
	.bs-docs-social
		.container
			ul.bs-docs-social-buttons
				li.follow-btn
					iframe(allowtransparency='true', frameborder='0', scrolling='no', src='https://platform.twitter.com/widgets/follow_button.1346143399.html#_=1346180347059&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name='+player_info.twitter_screen_name+'&amp;show_count=true&amp;show_screen_name=true&amp;size=m', class='twitter-follow-button', style='width: 217px; height: 20px; ', title='Twitter Follow Button', data-twttr-rendered='true')

block content
	.container(class='search',style='margin-top: 30px;')

		//p=searchData

		img(src=player_info.avatar_url, class='img-polaroid', style='margin-right: 15px;')
		h2(style='display:inline; position:relative; bottom:25px;')=player_info.name

		//Works  
		ul.thumbnails
			//each shot in player_shots
				li
					a.thumbnail(href='#')
						img(alt='', style='width: 200px !important; height: 150px !important;')
      
block footer
	footer.footer
		.container
			p.pull-right
				a(href='#') Back to top
      
      
      
      
      
      
      
      
      
      
      
      
      
      
